<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="box-border">
    <div class="min-w-full min-h-screen bg-zinc-900 p-8 relative text-white">
        <p class="bg-zinc-600 p-3 mb-4"><%= fileContent %></p>
        <a href="/" class="text-blue-400 underline text-sm">Go Back</a>

    </div>
</body>
</html>